:host {
	border-right: var(--light-border);
	display: block;
}

.chats-filters-input__wrapper {
	padding: 16px 20px;
	border-bottom: var(--light-border);
}

.profile-wrapper {
	display: flex;
	position: relative;
	align-items: center;
	justify-items: center;
}

.tt-form-input {
	display: flex;
	width: 100%;
}

.search-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 5px;
	z-index: 2;
}
