<img
  src="/assets/svg/logo-small.svg"
  class="ml16 mb20 logo"
  appClick
  alt=""
>

<nav class="mb20">
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a
        class="menu-item"
        [routerLink]="[menuItem.link]"
        routerLinkActive="active"
        (click)="toggleSearch(menuItem.label)" [class.active]="menuItem.label === activeButton"
      >
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
        <ng-container *ngIf="menuItem.label === 'Сообщества' && showSearch">
            <div class="search-container">
            <input placeholder="Поиск сообществ..." class="search-communities"/>
                <a [routerLink]="['communities']">
                    <svg class="search-communities-svg" icon="search"></svg>
                </a>
            </div>
        </ng-container>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (subscriber of subcribers$ | async; track subscriber.id) {
  <app-subscriber-card
    [profile]="subscriber"
  ></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text">Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>


<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imgUrl" alt="">
    } @else {
      <img src="/assets/imgs/avatar-placeholder.png" alt="">
    }

    <div class="medium-text username-text">{{ me.username }}</div>

    <a [routerLink]="['settings']">
      <svg class="settings-btn" icon="settings"></svg>
    </a>
  }
</footer>
