<form [formGroup]="form" (ngSubmit)="onSubmit($event)">

  <h4 class="h4 mb16">Заявка на ремонт телевизора</h4>

  <label class="tt-control-label mb16">
    Тип TV
    <select class="tt-input tv" id="tvType">
      <option value="" disabled selected class="placeholder">Тип телевизора</option>
      // 'disabled selected' отключает выбор по умолчанию 'Тип телевизора'
      <option>LED-телевизор</option>
      <option>QLED-телевизор</option>
      <option>LCD-телевизор</option>
      <option>PDP-панель(плазма)</option>
      <option>OLED-телевизор</option>
      <option>ЭЛТ-телевизор(кинескоп)</option>
    </select>
  </label>

  <label class="tt-control-label mb16">
    Модель
    <input
      class="tt-input"
      type="text"
      placeholder="Марка / Модель"
    />
  </label>

    <label class="tt-control-label mb16">
      Причина обращения
      <input
        class="tt-input"
        type="text"
        placeholder="Описание неисправности"
      />
    </label>

  <div>
    <h4 class="h6 mb16">Адрес заявки</h4>

    <div class="form-grid">
      <label class="tt-control-label">
        Город
        <input
          class="tt-input"
          type="text"
          placeholder="Город"
        />
      </label>

      <label class="tt-control-label">
        Улица
        <input
          class="tt-input"
          type="text"
          placeholder="Улица"
        />
      </label>

      <label class="tt-control-label">
        Дом
        <input
          class="tt-input"
          type="text"
          placeholder="Дом"
        />
      </label>

      <label class="tt-control-label">
        Квартира
        <input
          class="tt-input"
          type="text"
          placeholder="Квартира"
        />
      </label>
    </div>
  </div>

  <button class="btn btn-shadow mt20" type="submit">Подтвердить</button>
</form>

