@if (message(); as message) {
    <app-avatar-circle
            class="size32"
            [avatarUrl]="message.user?.avatarUrl"
    ></app-avatar-circle>

    <div class="message-container">
        <p class="medium-text mb4">{{ formatShortTime(message.createdAt, 'ru') }} {{ message.user?.firstName }} {{ message.user?.lastName }}</p>
        <p class="time medium-text mb8">{{ message.createdAt | TimePipe: 'ru' }}</p>
        <div #messageContainer class="message-text medium-text">
            {{ message.text }}
        </div>
    </div>
}