:host {
  display: flex;
  gap: 12px;
}

:host.is-mine {
  display: flex;
  justify-self: end;
  text-align: right;

  .message-container {
    order: -1;
  }

  .message-text {
    padding: 8px 16px;
    background: var(--primary-color);
    color: var(--dark-color);
    font-weight: 500;
    display: inline-block;
    max-width: 200px;
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    mask: linear-gradient(#000 0 0), linear-gradient(-135deg, #000 50%, #0000 0) border-box 100% 100% / 200% 200% no-repeat;
    mask-composite: exclude;
    mask-position: 7% 98%;
  }
}

.message-text {
  padding: 8px 16px;
  background: var(--message-color);
  color: var(--light-color);
  font-weight: 500;
  display: inline-block;
  max-width: 200px;
  white-space: normal;
  overflow-wrap: break-word;
  mask: linear-gradient(#000 0 0), linear-gradient(135deg, #000 50%, #0000 0) border-box 100% 100% / 200% 200% no-repeat;
  mask-composite: exclude;
  mask-position: 98% 78%;
}

.time {
  color: var(--light-transparent-color);
  font-size: 10px;
}
